<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<%= form_tag '/users/add_place' do %>
  <%= hidden_field_tag 'user_id', @user.id %>
  <%= select_tag 'place_id', options_from_collection_for_select(@places, :id, :name) %>
  <%= submit_tag 'Add' %>
<% end %>

<h2>Visited:</h2>

<% @user.user_places.each do |user_place| %>
    <div>
        <h5><%= user_place.place.name %></h5>
        <img src="<%= user_place.place.picture %>" height="100">
        <%= link_to 'Delete', users_remove_place_path(id: user_place.id), method: :delete %>
    </div>
<% end %>